body{
	background-image: url("../../assets/images/burger.jpg");
}

h1{
	font-family: 'Bangers', cursive;
	background-color:#f1ec16;
	border:2px solid #f41b26;
	padding:10px;
	font-size:65px;
	color: #f41b26;
	text-align:center;
	text-shadow: 2px 2px #000000;
}

h2{

	font-family: 'Bangers', cursive;
	font-size:35px;
	color: #f41b26;
	padding:10px;
	text-shadow: 2px 2px #000000;

}

img{
	width:125px;
	height:125px;
	float:left;
	margin:5px;
	border: 2px solid #f41b26;
	padding: 15px;
	background-color:#f1ec16;
}


.character-choices,
.you,
.them,
.enemy{
	height:225px;
	width:900px;
	}

.fight{
	margin:20px;
	height:50px;
	width:125px;
}